h1{
    color: #030303;
}

@font-face {
    font-family: myFirstFont;
    src: url(OpenSans-Bold.ttf);
}
body{
    font-family:myFirstFont;
    background-image: url("zl1-2020.jpg");
    background-size: cover;
    background-attachment: fixed;
}



    .grid-container{
         display:grid;
         grid-template-areas:
        'header1 header2 header3';
    }

    .item1 {
        grid-area: header1;
        padding: 20px ;
        border: 2px solid black;
        margin: 20px;
        }

    .item2 {
        grid-area: header2;
        padding: 20px ;
        border: 2px solid black;
        margin: 20px;
    }

    .item3 {
        grid-area: header3;
        padding: 20px ;
        border: 2px solid black;
        margin: 20px;
    }
