<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width = device-width , initial-scale = 1.0">
        <title>
            Exercise 2  WEB summer course
        </title>
        <link rel="stylesheet" href="cv.css"> 
        <script src="cv.js" ></script>
    </head> 
  
        <body onload="name_change()">
       
      
        <div class="Navigations">
            <div id="Div1" class="item0">  
                <h1> mohammed najjar </h1></div>

            <div class="item1">
                    <div class="typing-demo">
                      personal information.
                    </div>
            </div>
               
            <div  class="item2">
                <div class="typing-demo">
                    Work experience.
                  </div>
            </div>

            <div class="item3"> 
                <div class="typing-demo">
                    Education.
                  </div>
            </div>
      </div>
    
      <form> 
           <h2> Make contact </h2>    
           <p> Fill in your information and we will make sure to get back to you</p>
           <label for="fName"> First name:</label><br>
           <input type="text" id="fNameC"><br>
           <label for="fName"> Last name:</label><br>
           <input type="text" id="fNameC"><br>
           <label for="Email">Email:</label><br>
           <input type="Email" id="EmailC"><br>
           <label for="phoneNumber"> Phone Number:</label><br>
           <input type="number" id="phoneNumberC"><br>
           <label for="message">Leave us a message</label><br>
            <textarea type="text" id="message" cols="40" rows="7"> </textarea> <br>
            <input type="submit" value="Send">
      </form>

      

    </body>